.display-area {
	margin-top: 35px;
}

#search_buy_book_form input[name='check_all_book_checkbox'] {
	margin: -2px 10px 0px 40px;
}

#search_buy_book_form fieldset {
	margin-top: 15px;
}

.display-book .table-header,
.display-book .list-found-book {
	width:1000px;
}

/*
.display-book .table-header .header-row {
	margin-right:50px;
}
*/

.display-book .list-found-book .book-item .action {
	margin-left: 20px;
	margin-top:-4px;
	margin-bottom:8px;
}

#book_price_input {
	width: 50px;
}

.book-condition {
	margin-bottom: 15px;
}

.book-condition .input-field,
.alert-email-option .input-field {
	margin-top:6px;
}

.book-condition input[type='radio'],
.alert-email-option input[type='radio'] {
	margin-top: -2px;
}

.book-condition span.radio-value,
.alert-email-option span.radio-value {
	margin-right: 16px;
	margin-left: 3px;
}

.book-isbn-content,
.book-title-content,
.book-author-content,
.book-price-content,
.book-condition-content {
	margin-top: 10px;
	margin-left: 5px;
}

.alert-email-option {
	margin-bottom: 25px;
}

.book-item {
	margin-bottom:15px;
}